<!DOCTYPE html>
<html id="J-html" class="">
<head>
  {% include custom-head-pre.html %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% seo %}
  {% feed_meta %}
  <link rel="stylesheet" type="text/css" media="all" href="{{ '/assets/css/style.css' | relative_url }}" />
  {% include custom-head-post.html %}
</head>
<body itemscope itemtype="http://schema.org/WebPage" class="home blog lotus index">
  {% include custom-body-pre.html %}
  {% include primary_nav.html %}

  {{ content }}

  {% include site_footer.html %}
  {% include custom-body-post.html %}
</body>
</html>
